* {
    margin: 0;
    padding: 0;
}

nav {
   
    margin: 0 50px;
    padding: 10px;

}
.sitelogo{
    margin-right: 170px;
    margin-left: 50px;

    height: 20px;  

}
.leftnav{
   margin-left:150px ;
}
.navbtn{
    padding:  10px;
    color: #ff3946;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 150px;    
}
.navbtn i{
    padding: 10px;
}

a {
    text-decoration: none;
    color: #314584;
    margin: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.col
{
    display: flex;
}
main {
    width: 80%;
    margin: 0 auto;


}

.wid1 {
    display:flex;
}
.div1{
    margin-top: 150px;

}
.heroHead {
    font-size: 50px;
    color: #314584;
    font-weight: bold;
    font-family: sans-serif;
    margin:30px 0;
    float: left;



}

.heroDes {
    /* background-color: #ff3946; */
    
    color:#bfbfbf;
    font-size: 20px;
}
P
.heroimg {
    height: auto;
    float: right;
}


.btn {
    margin-top: 30px;
}

.heroBtn1 {
    background-color: #ff3946;
    border-radius: 50px;
    border-color: white;
    padding: 10px;
    width: 150px;
    color: white;
    margin: 0 30px;
}


.heroBtn2 {
    font-size: 18px;
    color: #314584;
    font-weight: bold;
}
